################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestGit/.vs
/TestGit/TestGit/obj
/Temp
